<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
    <title>Приймальна комісія</title>
     <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
   	<h3>Реєстрація нового користувача</h3>
    <div th:if="${message}">
        <p th:text="${message}" />
    </div>

    <div th:if="${param.error}">
      	Введені невірні дані!
    </div>
    <div th:if="${param.logout}">
        Ви вийшли з програми!
    </div>
    <form th:action="@{/registration}" method="post">
        <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
        <div><label>Ім'я: <input type="text" name="firstName"/></label></div>
        <div><label>Прізвище: <input type="text" name="lastName"/></label></div>
        <div><label>Email: <input type="text" name="email"/></label></div>
        <div><label>Пароль: <input type="password" name="password"/></label></div>
        <div>
            <div class="g-recaptcha" data-sitekey="6LdnEL4UAAAAAM6h1YjSYgcOdN6BSAZBhU8pyM-m"></div>
            <div th:if="${captchaError}">
				<p th:text="${captchaError}" />
			</div>            
        </div>
        <div><input type="submit" value="Реєстрація"/></div>
    </form>
</body>

</html> 